#hero {
    background: url('../assets/landingpage/img/character.png') right 14% bottom -15px, url('../assets/landingpage/img/asset-side.png') right bottom, url('../assets/landingpage/img/hero-bg.jpg') top center;
    background-size: 25%, 55%, cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 90px;
        line-height: 80px;
        color: #F55C47;

        span {
            /* font-weight: normal !important; */
            font-size: 30px;
        }

        strong {
            color: #cc99ff;
        }
    }

    h2 {
        font-size: 55px;
        font-weight: 700;
        color: #000000;
    }

    h3 {
        color: #000000;
        font-weight: 600;
        line-height: 80px;
        font-size: 35px;
    }

    h4 {
        font-size: 18px;
        color: #000000;
        line-height: 35px;

        span {
            font-size: 16px;
        }
    }

    .container {
        padding-top: 0;
    }

    /* RESPONSIVE MAX 992*/
    @media (max-width: 991px) {
        height: auto;

        h1 {
            font-size: 60px;
            line-height: 50px;
        }

        h2 {
            font-size: 35px;
            line-height: 50px;
        }

        h3 {
            font-size: 25px;
            line-height: 50px;
        }

        h4 {
            font-size: 14px;
        }
    }
    /* IPAD */
    @media (max-width: 767px) {
        h1 {
            font-size: 60px;
            line-height: 50px;
        }
        h2 {
            font-size: 35px;
            line-height: 50px;
        }

        h3 {
            font-size: 25px;
            line-height: 50px;
        }

        h4 {
            font-size: 14px;
        }
    }

    /* MOBILE VIEW */
    @media (max-width: 480px) {

        h1 {
            font-size: 50px;
            line-height: 50px;
        }

        h2 {
            font-size: 30px;
            line-height: 50px;
        }

        h3 {
            font-size: 20px;
            line-height: 50px;
        }

        h4 {
            font-size: 12px;
        }
    }
}

.btn-porto {
    text-align: left;

    @media (max-width: 480px) {
        text-align: center;
    }
}

.nav-menu {
    &.active > a {
        font-weight: bold;
    }

    a {
        font-size: 18px;
        letter-spacing: 2px;
    }
}

.back-to-top {
    i:hover {
        background: #c1272c !important;
    }
}

.labIcon {
    background: url("../assets/landingpage/img/asset-helo.png") bottom left;
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 5;
    width: 170px;
    display: block;
    height: 170px;
    left: -85px;
    bottom: -5px;
    position: relative;

    &::before {
        content: '';
        visibility: hidden;
    }

    @media (max-width: 991px) {
        left: 42px;
    }

    @media (max-width: 480px) {
        background-size: 80px 60px;
        height: 80px;
        left: 14px;
        bottom: -20px;
        transform: scaleX(-1);
    }
}

#header {
    .logo img {
        max-height: 45px;
    }
}

#modalContactForm {
    .btn-custom {
        color: #fff;
        background: #FFB344;
    }

    .modal-header {
        color: #fff;
        background: #FFB344;
    }

    .close {
        color: #fff;
    }
}

ul.parsley-errors-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */

    & > li {
        font-size: 11px;
        color: #dc3545;
    }
}

.bx-tada {
    -webkit-animation: none !important;
    animation: none !important;

    &:hover {
        -webkit-animation: tada 1.5s ease infinite !important;
        animation: tada 1.5s ease infinite !important;
    }
}

.clients {
    .main-carousel {
        width: 100%;
        min-height: 300px;

        .carousel-cell {
            width: calc(100% / 3);
            height: 100%;
            margin-right: 10px;
            border-radius: 5px;
            counter-increment: carousel-cell;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .flickity-page-dots {
            bottom: -30px;

            .flickity-page-dot {
                background-color: rgba(255, 179, 68, 0.4);

                &.is-selected {
                    background-color: rgb(255, 179, 68);
                }
            }
        }
    }
}

