.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFF;
}

.offline-doc .footer {
  z-index: 3 !important;
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
}

.offline-doc .page-header .content-center {
  z-index: 3;
}

.offline-doc .brand .title {
  color: #fff;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}


@media all and (max-width: 991px) {

  .offline-doc .navbar .navbar-collapse.collapse,
  .offline-doc .navbar .navbar-collapse.collapse.in,
  .offline-doc .navbar .navbar-collapse.collapsing {
    display: block !important;
  }

  .nav-open .offline-doc .navbar-wrapper,
  .nav-open .offline-doc .navbar-toggler {
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }

  .offline-doc .navbar-wrapper,
  .offline-doc .navbar-toggler {
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .offline-doc .navbar .collapse .navbar-nav .nav-item .nav-link {
    margin-left: 15px;
    color: #8b92a9 !important;
  }
}




#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.bd-docs.dark-edition .bd-example {
  background-color: #1a2035;
  border: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bd-docs.dark-edition {
  background-color: #fff;
}

/* ==================== CUSTOM =====================*/

.logo-nav {
    height: 40px;
    /*filter: invert(1) grayscale(100);*/
}

.dark-edition .sidebar[data-color="purple"] li.active > a,
.dark-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:hover,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:focus,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:active,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li > a:hover, .dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li > a:focus,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li > a:active {
    background: linear-gradient(60deg, #ee6a5d, #f6a396);
}

.sidebar .sidebar-wrapper {
    height: calc(100vh - 135px);
}

.sidebar .nav .nav-item.view-landingpage {
    position: absolute;
    width: 100%;
    bottom: 13px;
}

/*-- CUSTOM CSS --*/

form {
    margin-bottom: 0 !important;
}

.dark-edition .card .card-footer .stats a {
    background-image: linear-gradient(60deg, #a9afbbd1, #a9afbbd1)
}

.dark-edition .modal .form-control{
    color: #495057;
}

.togglebutton label {
    margin-bottom: 0 !important;
}

.togglebutton label .toggle {
    margin-right: 0 !important;
}

ul.parsley-errors-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul.parsley-errors-list > li {
    font-size: 11px;
    color: #dc3545;
}

input[name="name"], input[name="nameEdit"] {
    text-transform: capitalize;
}

input[name="alias"], input[name="aliasEdit"] {
    text-transform: lowercase;
}

.align_stats {
    display: flex !important;
    align-items: center;
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.image-item {
    margin: 5px;
}

.link-image {
    cursor: zoom-in;
}

.btn-link {
    padding: 0 5px !important;
}

.btn-edit {
    background-color: rgba(255,255,255, 0.1);
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: 0.3s background-color 0s;
    position: relative;
}

.btn-edit:hover {
    cursor: pointer;
}

.btn-edit > .material-icons {
    vertical-align: middle;
    margin: -1px 5px 0 0;
}

.unread > td {
    font-weight: 700;
}

.is-unread {
    color: #288c6c !important;
}

.main-panel > .content {
    padding-top: 70px !important;
    margin-top: 0 !important;
    min-height: calc(100vh - 84px);
}

span:not(.btn) {
    pointer-events: none;
}

.btn-color-picker {
    padding: 0.4375rem;
    font-size: 10px;
    margin-left: 10px;
}

a.link-icon-reference {
    color: #a9afbbd1 !important;
    font-size: smaller;
}

.bx-tada {
    -webkit-animation: none !important;
    animation: none !important;
}

.bx-tada:hover {
    -webkit-animation: tada 1.5s ease infinite !important;
    animation: tada 1.5s ease infinite !important;
}

.card-upload-porto,
.card-upload-client {
    max-height: 80px;
    -webkit-transition: max-height 0.4s ease;
    -moz-transition: max-height 0.4s ease;
    -ms-transition: max-height 0.4s ease;
    -o-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
}

.card-upload-porto .card-body,
.card-upload-client .card-body {
    visibility: hidden;
    opacity: 0;
}

.card-upload-porto.show-form,
.card-upload-client.show-form {
    max-height: 100%;
}

.card-upload-porto.show-form .card-body,
.card-upload-client.show-form .card-body {
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: visibility 0.4s linear, opacity 0.4s linear;
    -moz-transition: visibility 0.4s linear, opacity 0.4s linear;
    -ms-transition: visibility 0.4s linear, opacity 0.4s linear;
    -o-transition: visibility 0.4s linear, opacity 0.4s linear;
    transition: visibility 0.4s linear, opacity 0.4s linear;
}
